// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #497174;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #EFF5F5;
$pale-green: #D6E4E5;
$orange: #EB6440;
