<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(<%= image_path 'jp_banner_2000x1000.jpg'%>);">
  <div class="container-banner">
    <h1>Welcome to <strong>Jurassic Paris</strong></h1>
    <p>Change your life style and feel the extraordinary</p>


    <%= simple_form_for :search, url: dinosaurs_path, method: :get do |f| %>
      <div class="search-form-control form-group", style="margin-bottom: 20px" >
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search for a dino nearby"/>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>

  </div>
</div>


<div class="d-flex align-items-center">
  <%= render "shared/card"  %>
<%= link_to "Show more dinosaurs", dinosaurs_path, class: "btn-more" %>
</div>
