#bookingform{
  background-color: rgb(213, 202, 202);
  border-radius: 5px;
  height: 400px;
  position: sticky;
    top: 85px;
    z-index: 3;
  background-color: $light-gray;
}

.bookingsborder{
  border:2px solid rgb(184, 181, 181);
  border-radius: 5px;
}
