.div-form-top {
  max-width: 600px;
  margin: 30px auto 0px;
  padding: 15px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid $blue;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: $blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.div-form-body {
  max-width: 600px;
  margin: 0px auto 50px;
  padding: 30px 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid $light-gray;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


