.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map{
  height:100px;
}

#indexmap{
  margin-top: 5px;
  margin-bottom: 10px;
}
