.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link-adopt {
  color: white;
  border-radius: 4px;
  background: $orange !important;
  transition: background 0.3s ease;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.nav-link-adopt:hover {
  background: $dark-orange;
  color: white;
}
